*{
    margin: 10px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(imagens/back-phone.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#principal{
    background-color: #ffffffa9;
    width: 400px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 0.5s;
}

h1{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
}

#div-img{
    width: 220px;
    margin: auto;
}

#phone{ display: block; }
#tablet{ display: none; }
#pc{ display: none ;}
#tv{ display: none ;}
#print{ display: none; }