*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(fundo-frutiger\ aero.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

header{
    background-color: #268bd8dc;
}

header > h1{
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 0px 0px 2px #ffffff8a;
}

#icone{
    text-align: center;
    width: 100vw;
    color: white;
    background-color: #000027;
    padding: 10px 0px 10px 0px;
}

#icone:hover{
    color: black;
    background-color: #000079;
}

ul{
    list-style-type: none;
}

ul > li{
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #0000ff86;
    padding: 10px;
    border-radius: 5px;
}

ul > li:hover{
    background-color: #D3E7F7;
    border: none;
}

ul > li > a{
    color: #1E6FAD;
    text-decoration: none;
    font-weight: bold;
}

main{
    background-color: #a7d0f0ef;
    width: 90vw;
    max-width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
}

main > h1{
    color: #103f63;
}

main > p{
    color: #0e3757;
    text-align: justify;
    text-indent: 30px;
    margin-top: 20px;
}



@media screen and (min-width:450px){
    #icone{
        display: none;
    }
    
    ul > li{
        display: inline-block;
    }
}